* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.main_container {
    background-color: black;
    height: 100vh;
    position: relative;    
}

.container_button {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    gap: 5px;
}

.button_speaker_view {
    background-color: #4A4A4A;  
    padding: 3px; 
}

.container_card {
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 15px;
    overflow: scroll;
}

.card {
    position: relative;
    width: calc(calc(100% - 105px) / 7);
}

.pinco_pallo {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px;
    font-size: 10px;
}

/* FOOTER */

.footer_container {
    background-color: #222222;
    height: 65px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    justify-content: space-between;
}

.container_icon {
    align-items: center;
    padding: 0 5px;
}

.icon {
    align-items: center;
    font-size: 25px;
    gap: 5px;
    padding-left: 10px;
}

#green_icon {
    color: #4BC800;
}

#arrow_white {
    padding-right: 0;
    color: white;
}

.freccia_icon {
    font-size: 10px;
    padding: 0 15px;
}

.icon span {
    font-size: 10px;
}

.button_footer {
    background-color: #4A4A4A;
    color: red;
    width: 100px;
    align-items: center;
    padding: 0 10px;
    font-size: 11px;
    justify-content: center;

}