* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.main_container {
    background-color: black;
    height: 100vh;
    
}

.container_card {
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 25px;
    gap: 15px;
    overflow: scroll;
}

.card {
    width: calc(calc(100% - 105px) / 7);
}

.footer_container {
    background-color: #222222;
    height: 65px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}